# General
SERVER_HOST=localhost
SERVER_PORT=8080
SERVER_CONTEXT=/aac
MANAGEMENT_PORT=8081
SERVER_TOMCAT_REMOTE_IP_HEADER=x-forwarded-for
SERVER_TOMCAT_PROTOCOL_HEADER=x-forwarded-proto
APPLICATION_EXT_URL=https://aac.platform.local/aac
JDBC_DIALECT=org.hibernate.dialect.MySQL5InnoDBDialect
JDBC_DRIVER=com.mysql.jdbc.Driver
JDBC_URL=jdbc:mysql://mysql:3306/AAC
JDBC_USER=ac
JDBC_PASS=ac
#ADMIN_USERNAME=
ADMIN_PASSWORD=admin
#ACCESS_TOKEN_VALIDITY=
#REFRESH_TOKEN_VALIDITY=
JWK_KEYSTORE=file:///home/aac/keystore/keystore.jwks
BOOTSTRAP_APPLY=true
BOOTSTRAP=file:///home/aac/confs/config.yaml
#REMEMBER_ME_KEY=
#REDIRECT_MATCH_PORTS=
#REDIRECT_MATCH_SUBDOMAINS=
ENABLE_JWT=true
JWT_ISSUER=https://aac.platform.local/aac
# JWT_KID_SIG= kube-test
# JWT_KID_ENC=
AUTHORITIES=internal
ADMIN_ROLES=components/apimanager/carbon.super:accountmanage,components/apimanager/carbon.super:profilemanager,components/apimanager/carbon.super:rolemanager,components/dss.com:ROLE_PROVIDER,components/dss.com/carbon.super:ROLE_PROVIDER,components/nuclio/sys:ROLE_PROVIDER,components/cyclotron:ROLE_PROVIDER,components/cyclotron:ROLE_EDITOR,components/grafana:ROLE_PROVIDER,components/grafana/products:ROLE_PROVIDER,components/grafana/services:ROLE_PROVIDER,components/grafana:ROLE_ADMIN,components/grafana/products:ROLE_ADMIN,components/grafana/services:ROLE_ADMIN,components/resourcemanager/default:ROLE_ADMIN,components/resourcemanager/default:ROLE_PROVIDER
JAVA_OPTS=
MAIL_USER=
MAIL_PASS=
MAIL_HOST=
MAIL_PORT=465
MAIL_PROTOCOL=smtps
# OAUTH FACEBOOK
# OAUTH_FACEBOOK_CLIENTID=
# OAUTH_FACEBOOK_CLIENTSECRET=
# OAUTH GOOGLE
# OAUTH_GOOGLE_CLIENTID=
# OAUTH_GOOGLE_CLIENTSECRET=
# LOG_LEVEL=TRACE
