# General
SERVER_HOST=localhost
SERVER_PORT=8080
# LOG_LEVEL=
# SERVER_CONTEXT=
APPLICATION_EXT_URL=https://aac.platform.local/aac
JDBC_DIALECT=org.hibernate.dialect.MySQLDialect
JDBC_DRIVER=com.mysql.jdbc.Driver
JDBC_URL=jdbc:mysql://mysql:3306/AAC
JDBC_USER=ac
JDBC_PASS=ac
#ADMIN_USERNAME=
ADMIN_PASSWORD=admin
#ACCESS_TOKEN_VALIDITY=
#REFRESH_TOKEN_VALIDITY=
#JWK_KEYSTORE=
MAIL_USER=
MAIL_PASS=
MAIL_HOST=
MAIL_PORT=465
MAIL_PROTOCOL=smtps
#ENABLE_JWT=
# JWK_KEYSTORE=file:///tmp/keystore.jwks
JWT_ISSUER=http://aac:8080/aac
#JWT_KID_SIG=
#JWT_KID_ENC=
# OAUTH FACEBOOK
# OAUTH_FACEBOOK_CLIENTID=
# OAUTH_FACEBOOK_CLIENTSECRET=
# OAUTH GOOGLE
# OAUTH_GOOGLE_CLIENTID=
# OAUTH_GOOGLE_CLIENTSECRET=
# APIM
APIM_REDIRECTS=https://api.platform.local/store/jagg/jaggery_oidc_acs.jag,https://api.platform.local/publisher/jagg/jaggery_oidc_acs.jag
APIM_ID=API_MGT_CLIENT_ID
APIM_SECRET=YOUR_MNGMT_CLIENT_SECRET
#APIM_SCOPES=
# Security Properties
#REMEMBER_ME_KEY=
#IDENTITY_SOURCE=
#REDIRECT_MATCH_PORTS=
#REDIRECT_MATCH_SUBDOMAINS=
