APIM_USER=admin
APIM_PASS=admin
APIM_HOSTNAME=api-manager
APIM_REVERSEPROXY=api.platform.local
APIM_GATEWAYENDPOINT=gw.platform.local
# APIM_KEYSTORE_FILENAME=apikeystore.jks
# APIM_KEYSTORE_PASS=scotest
# APIM_KEYSTORE_KEYALIAS=scoapim
# APIM_TRUSTSTORE_FILENAME=client-truststore.jks
# APIM_TRUSTSTORE_PASS=scotest
ANALYTICS_HOSTNAME=am-analytics
ANALYTICS_ENABLED=false
AAC_HOSTNAME=http://aac:8080/aac
AAC_REVERSEPROXY=https://aac.platform.local/aac
AAC_CONSUMERKEY=API_MGT_CLIENT_ID
AAC_CONSUMERSECRET=YOUR_MNGMT_CLIENT_SECRET
APIM_MYSQL_HOSTNAME=mysql
APIM_MYSQL_USER=wso2carbon
APIM_MYSQL_PASS=wso2carbon
