APIM_USER=admin
APIM_PASS=admin
APIM_HOSTNAME=api-manager
APIM_REVERSEPROXY=api.platform.local
APIM_GATEWAYENDPOINT=gw.platform.local
APIM_KEYSTORE_FILENAME=apigwself.jks
APIM_KEYSTORE_PASS=platform
APIM_KEYSTORE_KEYALIAS=scoapim
APIM_TRUSTSTORE_FILENAME=client-truststore.jks
APIM_TRUSTSTORE_PASS=platform
ANALYTICS_HOSTNAME=am-analytics
ANALYTICS_ENABLED=true
AAC_HOSTNAME=http://aac:8080
AAC_REVERSEPROXY=https://aac.platform.local
AAC_CONSUMERKEY=APIM_CLIENT_ID
AAC_CONSUMERSECRET=APIM_CLIENT_SECRET
APIM_MYSQL_HOSTNAME=mysql
APIM_MYSQL_USER=wso2carbon
APIM_MYSQL_PASS=wso2carbon
AAC_INTROSPECTION_URL=/oauth/introspect
