APIM_USER=admin
APIM_PASS=admin
APIM_MYSQL_HOSTNAME=mysql
APIM_MYSQL_USER=wso2carbon
APIM_MYSQL_PASS=wso2carbon
# APIM_KEYSTORE_FILENAME=am-analytics.jks
# APIM_KEYSTORE_PASS=scotest
# APIM_KEYSTORE_KEYALIAS=scoapim
# APIM_TRUSTSTORE_FILENAME=client-truststore.jks
# APIM_TRUSTSTORE_PASS=scotest
