DSS_USER=admin
DSS_PASS=admin
DSS_HOSTNAME=https://localhost:9443
DSS_PORT=9445                             #the same port exposed by the container
DSS_ROLE_CONTEXT=components/dss.com                                  
DSS_SERVER_URL=https://dss.platform.local:9445
DSS_REVERSEPROXY=dss.platform.local
AAC_HOSTNAME=http://aac:8080/aac
AAC_CONSUMERKEY=API_MGT_CLIENT_ID
AAC_CONSUMERSECRET=CONSUMER_SECRET_VALUE
AAC_REVERSEPROXY=https://aac.platform.local/aac
MYSQL_HOSTNAME=mysql
MYSQL_USER=wso2carbon
MYSQL_PASS=wso2carbon
DSS_DRIVER_CLASS_NAME=com.mysql.jdbc.Driver
