DSS_USER=admin
DSS_PASS=admin
DSS_PORT=443
DSS_ROLE_CONTEXT=components/dss.com
DSS_SERVER_URL=https://dss.platform.local
DSS_REVERSEPROXY=dss.platform.local
AAC_HOSTNAME=http://aac:8080/aac
AAC_CONSUMERKEY=API_MGT_CLIENT_ID
AAC_CONSUMERSECRET=CONSUMER_SECRET_VALUE
AAC_REVERSEPROXY=https://aac.platform.local/aac
MYSQL_HOSTNAME=mysql
MYSQL_USER=wso2carbon
MYSQL_PASS=wso2carbon
DSS_DRIVER_CLASS_NAME=com.mysql.jdbc.Driver
DSS_KEYSTORE_FILENAME=dss.jks
DSS_KEYSTORE_PASS=platform
DSS_KEYSTORE_KEYALIAS=dss
DSS_TRUSTSTORE_FILENAME=client-truststore.jks
DSS_TRUSTSTORE_PASS=platform
