NIFI_WEB_HTTPS_PORT=8443
AUTH=openid
KEYSTORE_PATH=/opt/nifi/nifi-current/certs/keystore.jks
KEYSTORE_TYPE=JKS
KEYSTORE_PASSWORD=Al88vrRyb+R/n1OlK3cwgTZg3J2iLZUkF26NqGmMsEA
TRUSTSTORE_PATH=/opt/nifi/nifi-current/certs/truststore.jks
TRUSTSTORE_PASSWORD=RRwFTYRmKZ6wV6FkvLQ2fHwfOIENU3mHVk39nxz+jCo
TRUSTSTORE_TYPE=JKS
INITIAL_ADMIN_IDENTITY=admin
NIFI_WEB_PROXY_HOST=nifi.platform.local
NIFI_SECURITY_USER_OIDC_DISCOVERY_URL=http://aac:8080/aac/.well-known/openid-configuration
NIFI_SECURITY_USER_OIDC_CLIENT_ID=API_MGT_CLIENT_ID
NIFI_SECURITY_USER_OIDC_CLIENT_SECRET=db1a0868-bb5b-40cf-9707-6facb52afa7f
INITIAL_ADMIN_IDENTITY=admin
NIFI_SEC_ID_MAPPING_PATTERN=^(EMAILADDRESS=(.?), )?CN=(.?), OU=(.?), O=(.?), L=(.?), ST=(.?), C=(.*?)$
NIFI_SEC_ID_MAPPING_VALUE=$3
