NIFI_WEB_HTTPS_PORT=8443
AUTH=openid
KEYSTORE_PATH=/opt/nifi/nifi-current/certs/keystore.jks
KEYSTORE_TYPE=JKS
KEYSTORE_PASSWORD=platform
TRUSTSTORE_PATH=/opt/nifi/nifi-current/certs/truststore.jks
TRUSTSTORE_PASSWORD=platform
TRUSTSTORE_TYPE=JKS
OIDC_PROVIDER_TRUSTSTORE_PATH=/opt/nifi/nifi-current/certs/truststore.jks
OIDC_PROVIDER_TRUSTSTORE_PASSWD=platform
INITIAL_ADMIN_IDENTITY=admin
NIFI_WEB_PROXY_HOST=nifi.platform.local
NIFI_SECURITY_USER_OIDC_DISCOVERY_URL=https://aac.platform.local/aac/.well-known/openid-configuration
NIFI_SECURITY_USER_OIDC_CLIENT_ID=NIFI_CLIENT_ID
NIFI_SECURITY_USER_OIDC_CLIENT_SECRET=NIFI_CLIENT_SECRET
NIFI_SEC_ID_MAPPING_PATTERN=^(EMAILADDRESS=(.*?), )?CN=(.*?), OU=(.*?)(, O=(.*?))?(, L=(.*?))?(, ST=(.*?))?(, C=(.*?))?$
NIFI_SEC_ID_MAPPING_VALUE=$3
